<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    </style>
    <title>Operatori</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="http://localhost:4200" class="nav-link">Start</a>
            </li>
            <li class="nav-item active">
              <a href="http://localhost:4200/apeluri" class="nav-link">Apeluri <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/servicii" class="nav-link">Servicii</a>
            </li>
          </ul>
          <h2 style="margin-right: 47%; margin-left: auto; color: white;">Apeluri</h2>
        </div>
      </nav>
      
<br>
    <% if (rezultat.length != 0) { %>

        <% for (let r of rezultat ) {%>
        <p><b>Nume:</b> <%=r['Nume'].toUpperCase() %></p>
        <p><b>Prenume:</b> <%=r['Prenume'].toUpperCase() %></p>
        <p><b>Durata:</b> <%=r['Durata'] %> minute</p>
        <p><b>Data: </b><%=r['Data'].getDate()%>/<%=r['Data'].getMonth() + 1%>/<%=r['Data'].getFullYear()%></p>
        <p><b>Descriere:</b> <%=r['Descriere'].toUpperCase() %></p>
        <br>
        <br>
        <% } %>
        <% } else { %>
             <h2>Ne pare rau, niciun apel nu a fost efectuat de catre <%= nm.toUpperCase()  %> <%= p.toUpperCase() %>!</h2>
         <% } %>  

         <a href="http://localhost:4200/apeluri">Inapoi la apeluri</a>
     </body>
     
    

</html>