<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: 500;
        }
    </style>
    <title>Persoana edit</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="http://localhost:4200" class="nav-link">Start <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/apeluri" class="nav-link">Apeluri</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/servicii" class="nav-link">Servicii</a>
            </li>
          </ul>
          <h2 style="margin-right: 40%; margin-left: auto; color: white;">Editeaza persoana</h2>
        </div>
      </nav>
      <br>

    <form method="POST" action="/persoane/<%= persoana.PersoanaID %>?_method=PATCH">
        <div class="form-group" style="display: inline-block;">
            <label for="nume"><b>Nume</b></label>
            <input type="text" placeholder="nume" name="nume" id="nume" class="form-control " required value="<%= persoana.Nume %>">
        </div>
        <div class="form-group" style="display: inline-block;">
            <label for="prenume"><b>Prenume</b></label>
            <input type="text" placeholder="prenume" name="prenume" id="prenume" class="form-control " required value="<%= persoana.Prenume %>">
        </div>
        <br>
        <div class="form-group" style="display: inline-block;">
            <label for="oras"><b>Oras</b></label>
            <input type="text" placeholder="oras" name="oras" id="oras" class="form-control " required value="<%= persoana.Oras %>">
        </div>
        <div class="form-group" style="display: inline-block;">
            <label for="strada"><b>Strada</b></label>
            <input type="text" placeholder="strada" name="strada" id="strada" class="form-control " required value="<%= persoana.Strada %>">
        </div>
        <div class="form-group" style="display: inline-block;">
            <label for="numar"><b>Numar</b></label>
            <input type="number" placeholder="numar" name="numar" id="numar" class="form-control"  required value="<%= persoana.Numar %>" min="1">
        </div>
        <div class="form-group">
            <label for="cnp"><b>CNP</b></label>
            <input type="number" placeholder="cnp" name="cnp" id="cnp" class="form-control col-3" required min="1000000000000" max="9999999999999" value="<%= persoana.CNP %>">
        </div>
        <div class="form-group">
            <label for="telefon"><b>Telefon</b></label>
            <input type="number" placeholder="telefon" name="telefon" id="telefon" class="form-control col-3" required min="0000000000" max="9999999999" value="<%= persoana.Telefon %>">
        </div>
        <div class="form-group">
            <label for="telefon"><b>Sex</b></label>
            <select name="sex" id="sex" class="form-select">
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
        </div>
        <button class="btn btn-primary">Salveaza</button>
    </form>

    <a href="/persoane/<%= persoana.PersoanaID %> ">Inapoi la persoana</a>
</body>

</html>